//- dl
mixin parts_dl($class,$dt,$dd,$nest)
 dl(class=$class)
  each val,index in $dt
   if $nest[index]==""
    dt!= val
    dd!= $dd[index]
   else
    dt!= val
    dd: #{$nest[index]}!= $dd[index]

//- 画像のみのスライド
mixin img_slide($class,$img,$alt)
 div(class=$class)
  each val,index in $img
   .slide_items
    img(src=val, alt=$alt[index], loading="lazy")

//- グロナビ
mixin gnav($class,$pageName,$pageDir)
 nav
  ul(class=$class)
   each val,index in $pageName
    if $pageDir[index]==thisPageDir
     li.is-current
      a(href="/"+$pageDir[index]+"/")
       span #{$pageName[index]}
       i
    else
     li
      a(href="/"+$pageDir[index]+"/")
       span #{$pageName[index]}
       i

mixin pankuzu($name,$url)
 section.pankuzu
  ul
   li: a(href="/") TOP
   each val,index in $name
    if $url[index]==""
     li: strong #{$name[index]}
    else
     li: a(href="/"+$url[index]+"/") #{$name[index]}
//-
